* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
      text-decoration: none;

}
.head {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.box {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.4;
  background-color: black;
  z-index: -1;
}

.nav {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 15px 20px;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}
.nav a {
  color: white;
  font-size: large;
  text-decoration: none;
  font-family: sans-serif;
  padding: 30px;
  
}
.nav a:hover:not(:last-child) {
    border-bottom: 2px solid rgb(129, 99, 23);
}
.nav svg:hover {
  color: rgb(129, 99, 23);
}
video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}
.logo {
  position: relative;
  top: 25vh;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
@media (max-width: 568px) {
  .logo {
    top: 50vh;
  }
}
.logo img {
  width: 100%;
  max-width: 600px;
}

.side.social {
  position: fixed;
  width: 60px;
  height: auto;
  right: 5px;
  gap: 20px;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.side.contact {
  position: fixed;
  width: 60px;
  height: auto;
  right: 5px;
  gap: 20px;
  top: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.side a {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  font-size: x-large;
}

#face:hover {
  background-color: #1877f2;
}
#you:hover {
  background-color: #ff0000;
}
#insta:hover {
  background-color: #e1306c;
}
#twit:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
#phone:hover {
  background-color: #25d366;
}
#mail:hover {
  background-color: #d44638;
}
.first {
  height: 80vh;
  background-image: url(assets/back.png);
  z-index: 0;
  width: 100vw;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}
.box2 {
  background-color: white;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.left {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: relative;
  opacity: 0.9;
  z-index: 3;
}

.left img {
  width: 100%;
  z-index: 2;
  margin: 10px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  height: auto;
  cursor: pointer;
}
.left img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  opacity: 1;
  border-radius: 0;
}
.right {
  display: flex;
  width: 40%;
  z-index: 3;
  position: relative;
  justify-content: center;
  float: right;
  align-items: center;
  flex-direction: column;
}

.right h2 {
  font-size: 40px;
  color: #d0950c;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
}
.right h1 {
  font-size: 70px;
  font-weight: lighter;
  font-family: NORMAL;
}
.right .line {
  height: 190px;
  width: 3px;
  background-color: black;
}
@media (max-width: 668px) {
  .left {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .first {
    height: auto;
  }
}

.second {
  height: 50vh;
  width: 85vw;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  background-image: url(https://robingaur.com/wp-content/themes/rgaur-pending.com/assets/images/qs-bg.jpg);
  margin-bottom: 30px;
}
.box3 {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.86;
  z-index: -1;
  position: absolute;
}
.topic {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.second h1 {
  font-size: 40px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  letter-spacing: 10px;
  margin-left: 90px;
  margin-bottom: 10px;
}
.line2 {
  width: 80px;
  top: 30px;
  background-color: rgb(255, 140, 0);
  height: 2px;
  position: relative;
  z-index: 10;
}
.second h2 {
  font-size: 70px;
  color: white;
  position: relative;
  z-index: 10;
  margin-left: 50px;
  letter-spacing: 5px;
  font-style: italic;
  font-weight: 100;
}
.search {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 75%;
  z-index: 10;
}
.inner {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 90px;
  column-gap: 25px;
}
.inner select {
  background-color: transparent;
  color: white;
  font-size: large;
  cursor: pointer;
  letter-spacing: 0.6px;
  padding: 20px;
  border: none;
  border-bottom: 1px solid white;
  margin: auto;
}
.inner button {
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  position: relative;
  left: 100px;
}

