* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head {
  height: 100vh;
  width: 100%;
}

.box {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  opacity: 0.4;
  background-color: black;
}

.nav {
  position: sticky;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 15px 20px;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}
.nav a {
  color: white;
  font-size: large;
  text-decoration: none;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 40%;
}

.nav a:hover {
  background-color: rgba(191, 167, 106, 0.4);
}

video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}
.logo {
  position: relative;
  display: flex;
  top: 100px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  max-width: 600px;
}

.side.social {
  position: fixed;
  width: 60px;
  height: auto;
  right: 5px;
  gap: 20px;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.side.contact {
  position: fixed;
  width: 60px;
  height: auto;
  right: 5px;
  gap: 20px;
  top: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.side a {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  font-size: x-large;
}

#face:hover {
  background-color: #1877f2;
}
#you:hover {
  background-color: #ff0000;
}
#insta:hover {
  background-color: #e1306c;
}
#twit:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
#phone:hover {
  background-color: #25d366;
}
#mail:hover {
  background-color: #d44638;
}
.first {
  height: 80vh;
  background-image: url(assets/back.png);
  z-index: -1;
  width: 100vw;
  display: flex;
  position: relative;
}
.box2 {
  background-color: white;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.left {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: relative;
  z-index: 3;
}

.left img {
  width: 100%;
  z-index: 2;
  margin: 10px;
  object-fit: cover;
  display: block;
  height: auto;
}
.right {
  display: flex;
  width: 40%;
  z-index: 3;
  position: relative;
  justify-content:center;
  float: right;
  align-items: center;
  flex-direction: column;
}

.right h2{
    font-size:40px;
    color: #d0950c;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    ;
}
.right h1{
    font-size: 70px;
    font-weight: lighter;
    font-family:NORMAL;
}
.right .line{
    height: 60px;
    width: 3px;
    background-color: black;
}
@media (max-width: 668px) {
  .left {
    grid-template-columns: 1fr;
    width: 100%;

  }
 

}

